@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@font-face {
  font-family: "DevIcon";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/devicons.eot");
  src: url("../fonts/devicons.eot") format("embedded-opentype"),
    url("../fonts/devicons.woff") format("woff"),
    url("../fonts/devicons.ttf") format("truetype"),
    url("../fonts/devicons.svg") format("svg");
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#bodyWrap {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: 1500px auto;
  background-position: left bottom;
  background-repeat: repeat-x;
  background-color: #348cb2;
  -webkit-animation: bg;
  animation: bg;
  -webkit-animation-duration: 150s;
  animation-duration: 150s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
#header {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  z-index: 1;
  position: relative;
  top: 40%;
  -webkit-animation: header;
  animation: header;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}
#header .name {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-align: center;
}
#header .info {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 21px;
  opacity: 0.4;
  margin-bottom: 10px;
  font-weight: 300;
  font-stretch: ultra-condensed;
}
#header .nav {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
#main {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  top: 15%;
}
#main .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  width: 30%;
}
#main .links__item {
  margin: 0 8px;
  cursor: pointer;
  -webkit-animation: main;
  animation: main;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#main .links__item--mail {
  height: 45px;
  width: 37px;
}
#main .links__item--telegram {
  height: 35px;
  width: 35px;
}
#main .links__item--skype {
  height: 35px;
  width: 35px;
}
#main .links__item--phone {
  height: 31px;
  width: 30px;
}
#main .links__item:nth-child(4) {
  opacity: 0;
  -webkit-animation-delay: 4.3s;
  animation-delay: 4.3s;
}
#main .links__item:nth-child(3) {
  opacity: 0;
  -webkit-animation-delay: 4.1s;
  animation-delay: 4.1s;
}
#main .links__item:nth-child(2) {
  opacity: 0;
  -webkit-animation-delay: 3.9s;
  animation-delay: 3.9s;
}
#main .links__item:nth-child(1) {
  opacity: 0;
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
}
#overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../img/overlay.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.download-link {
  color: white;
  cursor: pointer;
  font-size: 18px;
	position: absolute;
	top: 24px;
	right: 24px;
}
@-webkit-keyframes bg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: -1500px bottom;
  }
}
@keyframes bg {
  0% {
    background-position: 0 bottom;
  }
  100% {
    background-position: -1500px bottom;
  }
}
@-webkit-keyframes header {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    opacity: 1;
  }
}
@keyframes header {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
    opacity: 1;
  }
}
@-webkit-keyframes nav {
  0% {
    -webkit-transform: translateY(400%);
    transform: translateY(400%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes nav {
  0% {
    -webkit-transform: translateY(400%);
    transform: translateY(400%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.projects {
  width: 40%;
  height: auto;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
}
.projects__item {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 80px;
  margin: 0 10px 10px 10px;
  position: relative;
  -webkit-animation: nav;
  animation: nav;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.projects__item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
.projects__item .icon:hover:before {
  width: 88px;
  height: 88px;
  background-color: rgba(255, 255, 255, 0.2);
}
.projects__item .icon:before {
  width: 80px;
  height: 80px;
  font-family: DevIcon;
  border: 1px solid #fff;
  border-radius: 100%;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects__item .tori:before {
  content: "Tori";
}
.projects__item .dobuy:before {
  content: "DoBuy";
  font-size: 22px;
}
.projects__item .lords:before {
  content: "Lords";
}
.projects__item .monex:before {
  content: "Monex";
}
.projects__item .jcash:before {
  content: "JCash";
}
.projects__item .anycash:before {
  content: "Any Cash";
}
.projects__item .pwa:before {
  content: "PWA";
}

.projects__item .betParser:before {
  content: "Bet Parser";
}
.projects__item:nth-child(8) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 4.1s;
  animation-delay: 4.1s;
}
.projects__item:nth-child(7) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 3.9s;
  animation-delay: 3.9s;
}
.projects__item:nth-child(6) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 3.7s;
  animation-delay: 3.7s;
}
.projects__item:nth-child(5) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.projects__item:nth-child(4) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}
.projects__item:nth-child(3) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 3.1s;
  animation-delay: 3.1s;
}
.projects__item:nth-child(2) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 2.9s;
  animation-delay: 2.9s;
}
.projects__item:nth-child(1) {
  -webkit-transform: translateY(400%);
  transform: translateY(400%);
  opacity: 0;
  -webkit-animation-delay: 2.7s;
  animation-delay: 2.7s;
}
.popup__wrap {
  position: fixed;
  min-width: 320px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 18px;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  z-index: 2;
  -webkit-transform: translateX(-50%) translateY(calc(-105%));
  transform: translateX(-50%) translateY(calc(-105%));
}
.popup__header {
  text-align: center;
  margin: 0 0 12px 0;
  width: 100%;
  font-size: 18px;
}
.popup__tex.features {
  overflow: auto;
  margin-bottom: 0px;
}

.popup__tex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0 10px 0;
}
.popup__tex--list {
  padding-left: 25px;
  text-align: left;
}
.popup__tex--list li {
  margin-bottom: 5px;
}
.popup__tex--list li:last-child {
  margin-bottom: 0px;
}
.popup__tex--list.features {
  text-align: left;
  padding-left: 20px;
  margin: 0px;
}
@media screen and (orientation: portrait) {
  #header {
    top: 30%;
  }
  #header .info {
    margin: 10px 0 20px 0;
  }
}
@media screen and (max-width: 1024px) {
  #main {
    top: 10%;
  }
}
@media screen and (max-width: 868px) {
  #header {
    top: 40%;
  }
  #header .nav ul {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  #header .name {
    font-size: 60px;
  }
}
@media screen and (max-width: 600px) {
  #bodyWrap {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    background-image: url("../img/bg.jpg");
    background-size: 1000px auto;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: #348cb2;
    -webkit-animation: bg;
    animation: bg;
    -webkit-animation-duration: 90s;
    animation-duration: 90s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  #header {
    top: 40%;
    -webkit-animation: header;
    animation: header;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  #header .name {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
  }
  #header .info {
    color: #fff;
    font-size: 14px;
    opacity: 0.4;
    margin-bottom: 10px;
    font-weight: 300;
    font-stretch: ultra-condensed;
  }
  #header .nav {
    width: 80%;
    margin-bottom: 20px;
  }
  #header .nav ul {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-beetwen;
    -ms-flex-pack: space-beetwen;
    justify-content: space-beetwen;
  }
  #header .nav ul li {
    width: 85px;
    height: 85px;
    margin: 0;
    padding: 0;
    -webkit-animation: nav;
    animation: nav;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #header .nav ul li .icon:hover:before {
    width: 65px;
    height: 65px;
  }
  #header .nav ul li .icon:before {
    width: 60px;
    height: 60px;
    font-family: DevIcon;
    border: 1px solid #fff;
    border-radius: 100%;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  #main .links__item--mail {
    height: 35px;
    width: 27px;
  }
  #main .links__item--telegram {
    height: 25px;
    width: 25px;
  }
  #main .links__item--skype {
    height: 25px;
    width: 25px;
  }
  #main .links__item--phone {
    height: 21px;
    width: 20px;
  }
}
